@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-1">Movie and Actor Database</h1>
    <h3 class="display-6">The Most Popular Movies of the 2000s</h3>
    <img src="https://snworksceo.imgix.net/dpn-34s/65197ae6-e5a4-417d-a61e-4daf2cd444f7.sized-1000x1000.jpg?w=1000" />
    <p id="Summary">
        In this website, you can look at actor information, movie information, and which actors played in those movies.
    </p>
</div>
